@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 15px;
    background-color: var(--Light-grayish-blue);
}

.attribution {
    margin-top: 15px;
}

.testimonialsContainer {
    border-radius: 10px;
    padding: 15px;
    color: var(--White);

    box-shadow: 2px 2px 25px var(--Light-gray);
}

.peoplePresentation {
    display: flex;
    align-items: center;
}

.peoplePresentation img {
    border-radius: 50%;
    margin-right: 15px;
}

.peoplePresentation p {
    opacity: 70%;
}

.spotlightText {
    font-size: 2rem;
    font-weight: 600;
    margin: 20px 0;
}

.normalText {
    line-height: 1.5rem;
    opacity: 70%;
}

#firstTestimonial {
    grid-area: t01;
    background-color: var(--Moderate-violet);
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 90% 0;
}

#secondTestimonial {
    grid-area: t02;
    background-color: var(--Very-dark-grayish-blue);
}

#thirdTestimonial {
    grid-area: t03;
    color: var(--Very-dark-blackish-blue);
    background-color: var(--White);
}

#fourthTestimonial {
    grid-area: t04;
    color: var(--Very-dark-blackish-blue);
    background-color: var(--White);
}

#fifthTestimonial {
    grid-area: t05;
    background-color: var(--Very-dark-blackish-blue);
}

section {
    width: 80%;
    margin: auto;

    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "t01 t01 t02 t03"
                         "t04 t05 t05 t03";
}

@media (max-width: 375px) {
    main {
        height: 100%;
    }
    section {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        grid-gap: 15px;
        grid-template-areas: "t01"
                             "t02"
                             "t03"
                             "t04"
                             "t05";
    }
}