@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
}


@media (max-width: 375px) {
    main {
        padding: 15px;
        background-color: var(--Light-grayish-blue);
    }

    .testimonialsContainer {
        border-radius: 10px;
        padding: 15px;
        margin: 25px 0;
        color: var(--White);
    }

    .peoplePresentation {
        display: flex;
        align-items: center;
    }

    .peoplePresentation img {
        border-radius: 50%;
        margin-right: 15px;
    }

    .peoplePresentation p {
        opacity: 70%;
    }

    .spotlightText {
        font-size: 2rem;
        font-weight: 600;
        margin: 20px 0;
    }

    .normalText {
        line-height: 1.5rem;
        opacity: 70%;
    }

    #firstTestimonial {
        background-color: var(--Moderate-violet);
        background-image: url("./images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: 90% 0;
    }

    #secondTestimonial {
        background-color: var(--Very-dark-grayish-blue);
    }

    #thirdTestimonial {
        color: var(--Very-dark-blackish-blue);
        background-color: var(--White);
    }

    #fourthTestimonial {
        background-color: var(--Very-dark-blackish-blue);
    }

    #fifthTestimonial {
        color: var(--Very-dark-blackish-blue);
        background-color: var(--White);
    }
}

@media (max-width: 1440px) {

}